
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
  
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
} 
/*  shared style */ 
.display-flex{
    display: flex;
}  
.dark-1{
    color: #131313;
} 
/* dark-2 */
.text-gray{
    color: #424242;
} 
/* dark-3 */
.text-light-gray{
    color: #727272;
} 
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
} 
.btn-primary{
    background-color:#FF900E ;
    color: white; 
    font-weight: 600;
    padding: 21px 25px; 
    font-size: 1.25rem;
    border-radius: 8px; 
    border: none; 


}
main{ 
     max-width: 1440px;
     margin: 0 auto;

} 
main > section{
    margin-top: 130px;
}
 /* header style  */

  /* navbar related styles */  
  .navbar{ 
    justify-content: space-between; 
    align-items: center;
   
  }
  .brand{
     font-weight: 700;
     font-size:2.8rem ;
  }
 .nav-links{

 }
 .nav-item{
    list-style: none; 
    margin-right: 30px; 
    /* border: 2px solid red; */
 }  
 .nav-link{
    text-decoration: none; 
    font-weight: 500px;
 } 
 .navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
 } 
 /* banner relate style */ 
 .banner-content{ 
    max-width: 850px;
    margin: 0 auto; 
    /* border: 2px solid red; */
    text-align: center;
    margin-bottom:50px ;

 } 
 .banner-title{
    font-size: 4rem;
    font-weight: 700;
 } 
 .banner-description{
    font-size: 1rem;
    font-weight: 400;
 } 
 .banner-image{
    width: 100%;
 } 
  /*  teams scetion er style */ 
  .teams{
    /* border: 2px solid red;  */
    align-items: center; 
    /* margin-bottom: 130px; */
  }
 .team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    gap: 24px;
 }
 .our-features{
    /* padding-left: ;  */
    margin-left:76px ; 
    max-width:530px;
 } 
 .section-title{
   font-size: 2.8rem;
   font-weight: 700;

 }
 #quick-list{
    font-weight: 500;
 } 
 #features{
    font-size: 2.8rem; 
    font-weight: bold; 
    color: #FF900E;
 } 
 .feature-description{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;

 } 
 /* some title and descrtiopon 
  */  

  .fact-description{
   max-width: 540px;
}
 /* some fact related style */ 
 .facts-container{
   display: grid;
   grid-template-columns: repeat(4,1fr); 
   /* border: 3px solid rgb(0, 044, 0); */ 
   /* padding: 169px 136px; */

 }
  .fact{
   border: 1px solid #FF900E; 
   width: 240px;
   height: 240px; 
   border-radius: 8px; 
   display: flex; 
   text-align: center;
   justify-content: center;
   align-items: center;
   /* padding: 169px 136px; */

  }
  .fact-number{
   font-size: 2.8rem;
   font-weight: 600;
   /* margin-top: 10px; */
   /* margin-bottom: 5px; */ 
   /* ami eivabe korechi seata holo je */ 
   /*  tara jae vabe koreche seta holo  */
    margin-top: 10px;
    margin-bottom:5px;
   border: 1px solid red;
   /* margin-bottom: 5px; */
  } 
  .fact-name{
   font-weight: 600;
   font-size: 1.25rem; 
   color: #727272;  
   margin-top: 5px;
   /* margin-top:10px; */
  }  


/* sponsor related styles */
    .sponsor-info{
      max-width: 540px; 
      margin: 50px auto; 
      text-align: center;
    }
.sponsor-companies{
   display:grid;
   grid-template-columns: repeat(5,1fr); 
} 
.sponsor-companies img{
   filter:grayscale(100%)
}










 /* responsive media query */
 @media screen and (max-width:576px){
    .navbar, 
    .nav-links,
    .teams{
        flex-direction: column;
    } 
    .team-img-container{
      grid-template-columns: repeat(1,1fr);
    } 
    .our-features{
      margin-left: 20px;
    }   

    /* facts style */
    .facts-container{
      grid-template-columns: 1fr; 
      gap:10px; 
      /* eivabe gap dewa jay  */
    }
    .fact{
    margin: 5px auto;
    }  
    /* sponsors style */
     .sponsor-companies{
      grid-template-columns: 1fr; 
       
     } 
     .sponsor-companies img{
      /* margin: 10px auto;  eivabe dile hobe  */ 
      /* justify-content: center;  */
      margin: 40px auto;
     } 
     .
    
 } 
   /* medium size device */
    @media screen and (min-width:576px) and (max-width:992px){ 
        .teams{
         flex-direction: column;
        } 
        .our-features{
         margin-left: 50px auto;
        } 
        .sponsor-companies{
         grid-template-columns: repeat(3,1fr); 
         gap: 50px; 
         justify-items: center;
        } 
        .facts-container{
         grid-template-columns: repeat(2,1fr); 
         gap:30px; 
         justify-items: center;
           
        }
    }
